# OTel Interfaces 
opentelemetry-sdk

# OTel Instrumentation Packages for flask and python
opentelemetry-instrumentation
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

# OTel Exporter Packages 
opentelemetry-exporter-otlp

# Python App 
flask 
requests

# Productionization
gunicorn